@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>this asd</this>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<h1>asdfgsdfg</h1>