@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Airline.Models.Rout;

<div class="container">
    <div class="container-fluid col-lg-6 col-md-10 col-sm-12">
        <h1>Add Route</h1>
        <hr>
    </div>
    <div class="container-fluid col-lg-8 col-md-10 col-sm-12">
        <form asp-action="addingroute">
            <div class="row">
                <div class="col">
                    <input asp-for="RoutName" type="text" class="form-control" placeholder="Add Route">
                </div>
                <div class="col">
                    <button type="submit" class="form-control btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid col-lg-8 col-md-10 col-sm-12 mt-5">
        <h1>Routes</h1>
        <hr>
    </div>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Route_ID</th>
                    <th scope="col">Routes</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var value in ViewBag.Route)
                {
                    <tr>
                        <th scope="row">@value.RoutId</th>
                        <td>@value.RoutName</td>
                        <td><a asp-controller="Home" asp-route-id="@value.RoutId" asp-action="RDelete"><button class="btn btn-primary btn-sm mx-2">Delete</button></a><a asp-controller="Home" asp-route-id="@value.RoutId" asp-action="EditRoute" class="btn btn-success btn-sm">Edit</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>